<h1> Your Booze Library ! </h1>
<table>
    <thead>
          <tr>
             <th> Name: </th>
             <th> Spirit:</th>
             <th> ABV%: </th>
             <th> Origin: </th>
             <th> Price: </th>
          </tr>
    </thead>
        <tbody> 
            <% @bottles.each do |bottle| %>
              <tr> 
              <td><%= bottle.name %></td>
              <td><%= bottle.spirit %></td>
              <td><%= bottle.abv %></td>
              <td><%= bottle.origin %></td>
              <td><%= bottle.price %></td>
          <td>
      <button onclick="window.location='/bottles/<%=bottle.id%>';">Show</button> | 
      <button onclick="window.location='/bottles/<%=bottle.id%>/edit';">Edit</button> | 
      <form class="inline" action="/bottles/<%=bottle.id%>" method="POST" onsubmit="confirm('Are you sure you want to delete?')">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit">Delete</button>
      </form>
    </td>
    <% end %>
    </tr>
        </tbody>
</table>
<img class="index" src="https://raisedxwolves.com/wp-content/uploads/2018/06/RaisedbyWolves2018_20_PhotosbyZackBenson-min.jpg" width="600" height="600" img>