<h1> Your Booze Library! </h1>
<ul>
    <li>Name: <%= @bottle.name %></li>
    <li>Spirit: <%= @bottle.spirit %></li>
    <li>ABV%: <%= @bottle.abv %></li>
    <li>Origin: <%= @bottle.origin %></li>
    <li>Price: <%= @bottle.price %></li>
</ul>
   
